.excercises__excercise {
    grid-area: excercises;
    background-color: #202F4D;
    color: white;
    min-height: 100px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px -1px 5px 0px rgb(79 51 112 / 24%);
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}

.excercises__excercise:hover {
    background-color: rgba(0, 128, 128, 0.467);
}

.excercise__remove {
    width: 20px;
    height: 20px;
    background-color: rgba(220, 20, 60, 0.733);
    color: white;
    border: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.excercise__remove:hover {
    transform: scale(1.1);
    background-color: rgba(220, 20, 60, 1);
    cursor: pointer;
}