html {
  box-sizing: border-box;
  background-image: linear-gradient(to right, #ffd89b, #19547b);
}

*, ::before, ::after {
  box-sizing: inherit;
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "buttons date"
    "excercises sets";
  width: 100%;
  height: 100%;
}

.buttons {
  grid-area: buttons;
  background-color: rgba(0, 128, 128, 0.267);
  border-radius: 10px;

}

.excercises {
  grid-area: excercises;

}

.excercises__excercise {
  grid-area: excercises;
  background-color: rgba(0, 128, 128, 0.267);
  min-height: 100px;
  margin: 5px;
  border-radius: 10px;
}

.sets {
  grid-area: sets;
  ;
}

.sets__set {
  grid-area: sets;
  background-color: rgb(16 1 5 / 10%);
  min-height: 100px;
  width: 150px;
  margin: 5px;
  border-radius: 10px;
}

.date {
  grid-area: date;
  background-color: blanchedalmond;
}