html {
  background-color: blueviolet;
}


.layout {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "buttons date"
    "excercises sets";
  width: 100%;
  height: 100%;
}

.buttons {
  grid-area: buttons;
  background-color: teal;

}
.excercises {
  grid-area: excercises;
  background-color: crimson;
}
.excercises__excercise {
  grid-area: excercises;
  background-color: rgb(133, 60, 75);
  min-height: 100px;
  margin: 5px;
}
.sets {
  grid-area: sets;
  background-color: darkslategray;
}
.sets__set {
  grid-area: sets;
  background-color: rgba(77, 207, 207, 0.452);
  min-height: 100px;
  margin: 5px;
}
.date {
  grid-area: date;
  background-color: blanchedalmond;
}




